-f https://eggrepo.eea.europa.eu/simple/
collective.volto.subsites==1.4.0
eea.dexterity.indicators==15.2
eea.dexterity.themes==1.5
eea.progress.editing==3.1
eea.progress.workflow==3.1
eea.stringinterp==1.2
eea.website.policy==4.2
eea.api.dataconnector==12.6
eea.api.redirector==0.3
eea.api.versions==1.3
eea.volto.policy==12.2
mo-sql-parsing==9.367.23090
mo-parsing==8.366.23085
XlsxWriter==3.0.9
rss-provider==1.1.0
sentry.sdk==2.55.0