collective.volto.subsites
eea.dexterity.indicators
eea.dexterity.themes
eea.progress.editing
eea.progress.workflow
eea.website.policy
eea.stringinterp
eea.api.dataconnector
eea.api.redirector
eea.api.versions
-e git+https://github.com/eea/eea.plotly.git@genai#egg=eea.plotly
rss-provider
-e git+https://github.com/eea/eea.genai.core.git@main#egg=eea.genai.core
-e git+https://github.com/eea/eea.genai.blocks.git@main#egg=eea.genai.blocks
-e git+https://github.com/eea/eea.genai.summary.git@main#egg=eea.genai.summary
